@{
    ViewData["Title"] = "Home Page";
}
<body class="spl" background="logo.jpg">
  

    <div class="text-center">
        <h1 id="page-title">Welcome To Book Management System</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


  </body>
