
    @{
        var date = DateTime.Now;
    }

    <h1>Alexa Says</h1>
    <p>Today is <strong>@date.ToLongDateString()</strong></p>
    <p>Time Now is <strong>@date.ToLongTimeString()</strong> </p>
