@model IEnumerable<User>
<a asp-action="create" class="btn btn-link">Add User</a>
<h2 id="page-title"> Users </h2>
<table class="table table-compact table-striped table-hover">
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	
</tbody>
</table>

