<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  @Model
  <table>
      <tr> 
          <th>Id</th>
          <th>Name</th>
          <th>Photo</th>
          <th>Biography</th>
          <th>Tags</th>
      </tr>
      </table>
      </body>
     </html>