
<h2 id="page-title">Recommended Authors</h2>
<h2 >Of Fiction Books</h2>

<table class="list-table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <img src="https://randomuser.me/api/portraits/men/0.jpg" />
            </td>
            <td>
                Mahatma Gandhi
            </td>
            <td>
                Freedom Fighter, Social Reformer
            </td>
            <td>
                <a class="button green-button" href="/author/details/mahtma-gandhi" >Details</a>
                <a class="button" href="/author/edit/mahtma-gandhi" >Edit</a>
                <a class="button red-button" href="/author/delete/mahtma-gandhi" >Delete</a>
            </td>
        </tr>
         <tr>
            <td>
                <img src="https://randomuser.me/api/portraits/women/10.jpg" />
            </td>
            <td>
                JK Rowling
            </td>
            <td>
                Harry Potter, Fiction
            </td>
            <td>
                <a class="button" href="/author/details/jk-rowling" >Details</a>
                <a class="button" href="/author/edit/jk-rowling" >Edit</a>
                <a class="button" href="/author/delete/jk-rowling" >Delete</a>
            </td>
        </tr>
         <tr>
            <td>
                <img src="https://randomuser.me/api/portraits/women/10.jpg" />
            </td>
            <td>
                JK Rowling
            </td>
            <td>
                Harry Potter, Fiction
            </td>
            <td>
                <a class="button" href="/author/details/jk-rowling" >Details</a>
                <a class="button" href="/author/edit/jk-rowling" >Edit</a>
                <a class="button" href="/author/delete/jk-rowling" >Delete</a>
            </td>
        </tr>
    </tbody>

</table>

